
<h1>Listado de Clientes</h1>
<hr>


<div class="row">
  <div class="col text-right">
    <button routerLink="/clientes/create"
            class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Agregar
    </button>
  </div>
</div>

<table 
    class="table mt-3 animated fadeIn faster animated fadeIn faster">
<thead class="thead-dark">
 <tr>
   <th scope="col">#</th>
   <th scope="col">Nombre</th>
   <th scope="col">Apellido</th>
   <th scope="col">Edad</th>
   <th scope="col">Fecha de nacimiento</th>
 </tr>
</thead>
<tbody>
 <tr *ngFor="let cliente of clientes; let i = index">
   <th scope="row">{{ i + 1 }}</th>
   <td>{{ cliente.nombre }}</td>
   <td>{{ cliente.apellido }}</td>
   <td>{{ cliente.edad }}</td>
   <td>{{ cliente.FechaNacimiento }}</td>
   <td>


   </td>
   
 </tr>
</tbody>
</table>

<div 
  class="alert alert-warning text-center mt-3 animated fadeIn faster">
 <h4 class="alert-heading">Promedio de las Edades: {{promedio}}</h4>
 <p>
   <i class="fa fa-exclamation fa-2x"></i>
 </p>
</div>

<div  
  class="alert alert-info text-center mt-3 animated fadeIn faster">
  <h4 class="alert-heading">Desviacion Estandar Edades: {{desviacion}}</h4>

</div>